<!DOCTYPE HTML>

<html>
	<head>
		<title>WinkIntro</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="index" class="logo"><img src="/images/윙크컬러최종.png" border="0"></a>
				<nav id="nav">
					<a href="intro">Intro</a>
						<a href="team">Team</a>
					<a href="gallery">Gallery</a>
					<a href="board">Board</a>
					
				</nav>
			</div>
		</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" >
				<div class="inner">
					<header class="major special">
						<h1>TEAM</h1>
					</header>
				<section id="three">
				<div class="inner">
				
					<article>
						<div class="content">
							<img src="/images/pic02.jpg" alt="" />
							<header>
								<h3>Aliquam Nulla</h3>
							</header>
							<p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">More</a></li>
							</ul>
						</div>
					</article>
					<article>
						<div class="content">
							<img src="/images/pic02.jpg" alt="" />
							<header>
								<h3>Aliquam Nulla</h3>
							</header>
							<p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">More</a></li>
							</ul>
						</div>
					</article>
					<article>
						<div class="content">
							<img src="/images/pic02.jpg" alt="" />
							<header>
								<h3>Aliquam Nulla</h3>
							</header>
							<p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">More</a></li>
							</ul>
						</div>
					</article>
				
				</div>
				<div class="inner">
				
					<article>
						<div class="content">
							<img src="/images/pic02.jpg" alt="" />
							<header>
								<h3>Aliquam Nulla</h3>
							</header>
							<p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">More</a></li>
							</ul>
						</div>
					</article>
					<article>
						<div class="content">
							<img src="/images/pic02.jpg" alt="" />
							<header>
								<h3>Aliquam Nulla</h3>
							</header>
							<p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">More</a></li>
							</ul>
						</div>
					</article>
					<article>
						<div class="content">
							<img src="/images/pic02.jpg" alt="" />
							<header>
								<h3>Aliquam Nulla</h3>
							</header>
							<p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">More</a></li>
							</ul>
						</div>
					</article>
				
				</div>
			</section>
			</section>

		<!-- Footer -->
				<section id="footer">
			<strong>	footer 자리입니다.</strong>
			</section>
		<!-- Scripts -->
		<script src="/js/jquery.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>


	</body>
</html>